<%= title 'Edit profile' %>
<section id="prepgs">
  <p class="pgslg"><%= link_to root_path do  %>
        <%= image_tag('svlogo.png') %>
        <% end %></p>
<div id="site-forms">
  <h2>Edit Profile - <%= @user.name %></h2><br>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.file_field :avatar, required: true%>
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :email, required: true %>
      <%= f.input :about, required: true %>
      <%= f.input :facebook, required: false %>
      <%= f.input :twitter, required: false %>
      <%= f.input :youtube, required: false %>
      <%= f.input :dribble, required: false %>
      <%= f.input :googleplus, required: false %>
      <%= f.input :instagram, required: false %>
      <%= f.input :git, required: false %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-success form-buttons" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
</section>