<div class="container">
<div id="site-forms">
<%= form_for @post do |f| %>
	<p class="centered"><%= f.label :"Title" %></p>
	<p><%= f.text_field :title, required: true %></p>
	<p class="centered"> <%= f.label :"Post Description"%></p>
	<p><%= f.text_area :description, required: true %></p>
	<p class="centred"><%= f.label :tag_list, "Tags (separated by commas)" %></p>
	<p> <%= f.text_field :tag_list, required: true %></p>
	<p><%= f.file_field :preview, required: true %></p>
</div>	
	<p class="centred"><%= f.text_area :body, class: "ckeditor", required: true %></p>
	
	<p><%= f.button :submit, class: "btn btn-success btn-lg" %></p>
<% end %>
</div>
