<%= form_for @post do |f| %>
	<p><%= f.text_field :title, required: true %></p>
	<p><%= f.text_area :description, required: true %></p>
	<p><%= f.label :tag_list, "Tags (separated by commas)" %></p>
	<p> <%= f.text_field :tag_list, required: true %></p>
	<p><%= f.file_field :preview, required: true%></p>
	<p><%= f.text_area :body, class: "ckeditor" %></p>
	
	<p><%= f.button :submit %></p>
<% end %>
