<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to root_path,  class: "navbar-brand" do  %>
        <%= image_tag('svlogo.png') %>
        <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       <li class="<%= active_class(pages_thecompany_path) %>"> <%= link_to "The Company", pages_thecompany_path %></li>       
       <li class="<%= active_class(galleries_path) %>"> <%= link_to "Clients", galleries_path %></li>
       <li class="<%= active_class(pages_plansandpricing_path) %>"> <%= link_to "Plans & Pricing", pages_plansandpricing_path %></li>
       <li class="<%= active_class(pages_tour_path) %>"> <%= link_to "Tour", pages_tour_path %></li>
       
       <li class="<%= active_class(posts_path) %>"> <%= link_to "Blog", posts_path%></li>
       <li class="<%= active_class(pages_tutorialsandvideos_path) %>"> <%= link_to "Tutorials and Videos", pages_tutorialsandvideos_path %></li>
      </ul>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
