<%= title 'About The Author' %>
<div class="container author">
<div class="row">
<div class="column col-xs-7">
<h2><%= @user.name %></h2>
<hr class="separator">
<h5><%= @user.about%> </h5> 
</div>

<div class="column col-xs-5">

<%= image_tag (@user.avatar.url(:thumb)), class: 'round' %>
<div class="sns">
	<h2> Connect with me!</h2>
	<hr>
		<p><%= link_to '', @user.twitter, :target => "_blank", class: "fa fa-twitter fa-2x connect" %>
		<%= link_to '', @user.facebook, :target =>  "_blank",class: "fa fa-facebook fa-2x connect" %>
		<%= link_to '', :target =>  "_blank", class: "fa fa-google-plus fa-2x connect" %>
		<%= link_to '', @user.dribble, :target =>  "_blank",  class: "fa fa-dribbble fa-2x connect" %>
		<%= link_to '', @user.instagram, :target =>  "_blank",  class: "fa fa-instagram fa-2x connect" %>
		<%= link_to '', @user.git, :target =>  "_blank",  class: "fa fa-git fa-2x connect" %> </p>
</div>
</div>
</div>
</div>

