<%= title 'Home' %>
<div id="postindex">
	<div class="hero-unit"></div>
		<div class="container hero-text">
		<div class="row-fluid ">
		<div class="span-12 ">
		<span id="typeText"><h1 ></h1></span><br><br>
		<%= link_to "Take a tour", pages_tour_path, class: "btn btn-success btn-large "%>
		</div>
		</div>
		</div>
	<div class="container postbag">
		<div class="row">
			<div class="col-xs-12 postview">
				<h1 class="titles">Our Blog feed</h1>
				<p><% @posts.each do |post| %></p>
				<p><%= link_to post.title, post %></p>
				<p><%= post.description%></p>
				<%end%>
			</div>
		</div>
	</div>
	<div class="newproducts">
		<div class="container-fluid">
			<div class="row">
				<h1 class="titles">Products Coming Soon</h1>
				<div id="upcoming">
					<div class="item">Barracuda Helpdesk&#8482;
						<p>The Revolutionary Helpdesk</p>
					</div>
					<div class="item">PhotoDesk&#8482;
					<p>The PhotoSharing Network</p>
					</div>
					<div class="item">GetHired&#8482;
					<p>Hosted JobPortal Solution For Companies</p>
					</div>
					<div class="item">CodeGlue&#8482;
					<p>Developers Network</p>
					</div>

				</div>
			</div>
		</div>
		
	</div>
	<div class="container-fluid clients">
		<div class="row">
			<h1 class="titles">Clients</h1>
			<div id="client-carousel">
				<% @galleries.each do |gallery|%>
					<div class="item"><%= image_tag (gallery.image.url(:medium)) %>
					<p><%= link_to gallery.name, gallery_path(gallery.slug) %></p>
					</div>
				<%end%>				
			</div>
		</div>
	</div>
	<div id="techs" class="container">
		<div class="row">
			<h1 class="titles">Technologies We Work With</h1>
			<%= image_tag('techs.png', class: 'img-responsive') %>
		</div>
	</div>
</div>


