<%= title 'Home' %>
<div id="postindex">
	<div class="hero-unit"></div>
		<div class="container hero-text">
		<div class="row-fluid ">
		<div class="span-12 ">
		<span id="typeText"><h1 ></h1></span><br><br>
		<%= link_to "Take a tour", pages_tour_path, class: "btn btn-success btn-large "%>
		</div>
		</div>
		</div>
	<div class="container postbag">
		<div class="row">
			<h1 class="titles">Our Blog feed</h1>
			<div class="postview">				
				<p><% @posts.each do |post| %></p>
				<div class="col-xs-4 hpostwrap">
				<div class="dtbox"><%= post.created_at.strftime(" %d %a %b %y") %></div>
				<p><%= link_to post.title, post %></p>
				<p class="iview img-responsive"><%= link_to image_tag(post.preview.url(:thumb)), post %></p>
				<p><%= post.description%></p>
				</div>
				<%end%>
			</div>
		</div>
	</div>
	<div class="container-fluid clients">
		<h1 class="titles">Clients</h1>
		<div class="row">
			<div id="client-carousel">
				<% @galleries.each do |gallery|%>
					<div class="item hcarousel img-responsive"><%= image_tag (gallery.image.url(:thumb)) %>
					<p><%= link_to gallery.name, gallery_path(gallery.slug) %></p>
					</div>
				<%end%>				
			</div>
		</div>
	</div>
	<div id="techs" class="container">
		<div class="row">
			<h1 class="titles">Technologies We Work With</h1>
			<%= image_tag('techs.png', class: 'img-responsive') %>
		</div>
	</div>
</div>


