<%= title 'The Company' %>
<div class="container-fluid">
	<div class="description"><p>When trying to run a startup or a individual product, there has always been a challenge. At <i class="brand-name">TheDesignable</i> we provide all the resources you would require to overcome this challenge. We can understand this better because we are also a startup!</p></div>
</div>
<hr class="separator">
<div id="company">
	<h1 class= "titles">Timeline</h1>
		<div class="container-fluid">		
		<div class="row">
			<div class="col-xs-12">
				<div id="carousel" class="owl-carousel owl-theme">
					<div class="item">	<h1> Oct, 2014</h1>
					<p>The idea was evolved to make a platform to make everything needed available for a developer at one place </p></div>
					<div class="item"><h1>March, 2015</h1>
						<p>The chief architect laid down the theme of damn awesome fetaure rich site</p></div>
					<div class="item"><h1>July, 2015</h1>
						<p>First phase of website finally completed.</p></div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr class="separator">
<div id="team">	
	<h1 class="titles">The Team</h1>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<div class="panel panel-default">
				<p class="user-image img-responsive"><%= image_tag (@user.avatar.url(:thumb)), class: "round " %></p>
				<h1 class="panel-heading"><%= link_to @user.name, user_path(@user.slug) %></h1>
				<p class="panel-body">
					The Chief Architecture <br>
					Ruby On Rails Developer
				</p>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="panel panel-default">
				<p class="user-image img-responsive"><%= image_tag (@user.avatar.url(:thumb)), class: "round" %></p>
				<h1 class="panel-heading"><%= link_to @user.name, user_path(@user.slug) %></h1>
				<p class="panel-body">
					The Chief Architecture <br>
					Ruby On Rails Programmer
				</p>
				</div>
			</div>
		</div>
	</div>
</div>