<%= title @post.title %>
<div id="articles">
<div class="container">	
	<div class="row">
			<div class="col-md-8">
				<h1><%= @post.title %></h1>
				<p> Created at <%= time_ago_in_words(@post.created_at)%> ago </p>
				<p><%= @post.description %></p>
				<p class="img-responsive"><%= @post.body.to_s.html_safe %></p><br>
				<p class = "fa fa-tags fa-1x tags">Tags: <%= @post.tag_list %></p>
				<p><%= link_to like_post_path(@post), class: "like", method: :get do %>
				<%= pluralize(@post.get_upvotes.size, "Like") %>
				<% end %>
				<%= link_to dislike_post_path(@post), class: "dislike", method: :get do  %>
				<%= pluralize(@post.get_downvotes.size, "Dislike") %>
				<% end %>
				<% if @post.user == current_user %>
					<p> <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %> 
					 <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"%> </p>
				<%end%>
		</div>

		<div class="col-md-4 sidebar">	
				<p><%= image_tag (@post.user.avatar.url(:thumb)), class: "round" %></p>
				<h4>Created by:</h4>
				<i class="author btn btn-danger"> <%= link_to @post.user.name, user_path(@post.user.slug)%></i>
				<h3>Comments</h3>
				<div id="disqus_thread"></div>
		</div>	
	</div>
</div>
</div>


