<%= title "Our Latest Works" %>
<div id="gallery">
<div class="container">
	<div class="row">
		<% @galleries.each do |gallery|%>
		<div class="col-md-4">	
			<p class= "scaled"><%= image_tag (gallery.image.url(:medium)) %></p>
			<p><%= link_to gallery.name, gallery_path(gallery.slug) %></p>
			<p><%= gallery.created_at.strftime(" %d %a %b %y") %></p>
			<p><%=gallery.description%></p>			
		</div>
		<%end%>
	</div>
	</div>
</div>


